# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/NBA Data Preprocessing/*
!/NBA Data Preprocessing/task/
/NBA Data Preprocessing/task/*
!/NBA Data Preprocessing/task/preprocess.py
!/NBA Data Preprocessing/task/test
!/NBA Data Preprocessing/task/tests.py

